*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

.nav{
    background-color: #cc0000;	
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip:inset(0 0 0 0);
}

.nav__container{
    width: 95%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 40px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #cc0000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
	z-index: 9;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #0c0268;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}

/*Prueba*/

.category_item{
	color: #fff;
    text-decoration: none;
    font-weight: 100%;
    transition: all 0.2s;
}

.category_item a:hover{
    opacity: 0.8;
    transform: translateY(-2px);
}

.category_list .ct_item-active{
	color: #0c0268;
}


.wrap::after{	
	max-width: 100%;
	width: 95%;
	margin: auto;
	
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}


.products-list{
	margin: 5%;
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}

.products-list .product-item{
	width: 22%;
	margin-left: 3%;/*Distancia de anchura entre productos*/
	margin-bottom: 5%;/*Disctancia de altura entre productos*/
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #cc0000;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}	
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width:100%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}